*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(22,73,161);
    background: linear-gradient(140deg, rgba(22,73,161,1) 0%, rgba(55,135,175,1) 48%, rgba(148,237,255,1) 100%);
}

header{
    background-color: rgb(255, 255, 255, 0.1);
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;    /*для выравнивания по центру по вертикали*/
}
.menu{
    font-size: 1.5em;
    border-radius: 5px;
    background-color: rgb(245, 245, 245, 0);
    box-shadow: none;
    flex-grow: 1;
    flex-basis: 200px;
    align-self: center;
    align-items: center;
    transition-property: box-shadow, backgroung-color;
    transition: 0.3s;
    font-family: 'Gotu', sans-serif;
    font-weight: 700;
    text-align: center;
}
.menu:hover {
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px 5px white;
}
#wifi {
    margin-left: 30%;
}
#petition {
    margin-right: 5%;
}
#logo {
    flex-grow: 0.1 !important;
    position: relative;
    background-color: white !important;
    box-shadow: none !important;
    border-radius: 100px;
    margin-left: 2%;
    width: 100%;
    max-width: 50px;
    max-height: 50px;   /*иногда лучше указать в пикселях*/
}
#logo:hover {
    background-color: white !important;
    box-shadow: none !important;
}
#logoimg {
    margin: 0 !important;
    max-width: 100%;
    max-height: 50px;
}
#logodiv {
    background-color: none !important;
    box-shadow: none !important;
    display: flex;
    flex-direction: column;
}
.el {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Gotu', sans-serif;
}
footer{
    color: white;
    text-align: center;
    background-image: url(images/grass\ texture3.png);
    height: 70px;
    min-height: 70px;

}
#footertext {
    margin-top: 50px;
    margin-left: 40%;
    width: 20%;
    text-align: center;
}

main{
    z-index: 0; 
}
#cloud{
    position: absolute; /*вот для облачка можно сделать абсолюную пацицию, что бы оно могло быть на заднем плане. Можено даже его двигать через JS*/
    margin-top: -10%;   /*просто для демонтрации (может быть за текстом)*/
    z-index: -1;    
}



@media(max-width: 540px){
    #menu{
        display: block;
    }
    #logo {
        display: none;  /*можно просто убрать, когда маленький экран*/
    }
    #wifi {
        margin-left: 0%;
    }
    #petition {
        margin-right: 0%;
    }
}