*{
    padding: 0;
    margin: 0;
}
html, body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(22,73,161);
    background: linear-gradient(140deg, rgba(22,73,161,1) 0%, rgba(55,135,175,1) 48%, rgba(148,237,255,1) 100%);
}

header{
    background-color: rgb(255, 255, 255, 0.1);
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;    /*для выравнивания по центру по вертикали*/
}
.menu{
    font-size: 1.5em;
    border-radius: 5px;
    background-color: rgb(245, 245, 245, 0);
    box-shadow: none;
    flex-grow: 1;
    flex-basis: 200px;
    align-self: center;
    align-items: center;
    transition-property: box-shadow, backgroung-color;
    transition: 0.3s;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
}
.menu:hover {
    background-color: whitesmoke;
    box-shadow: 1px 1px 5px 5px white;
}
#wifi {
    margin-left: 30%;
}
#petition {
    margin-right: 5%;
}
#logo {
    flex-grow: 0.1 !important;
    position: relative;
    background-color: white !important;
    box-shadow: none !important;
    border-radius: 100px;
    margin-left: 2%;
    width: 100%;
    max-width: 50px;
    max-height: 50px;   /*иногда лучше указать в пикселях*/
}
#logodiv:hover {
    background-color: rgb(245, 245, 245, 0) !important;
    box-shadow: none !important;
}
#logoimg:hover {
transform: rotate(360deg);
}
#logoimg {
    margin: 0 !important;
    max-width: 100%;
    max-height: 50px;
    transform: rotate(0deg);
    transition-property: rotate;
    transition: 1s;
}
#logodiv {
    display: flex;
    flex-direction: column;
}
.el {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Gotu', sans-serif;
}
footer{
    color: white;
    text-align: center;
    background-image: url('images/grass\ texture3.png');
    height: 70px;
    min-height: 70px;
}
#footertext {
    margin-top: 45px;
    width: 20%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    min-width: 100%;
}

main{
    z-index: 0; 
}
#firstslab {
    background-color: rgb(245, 245, 245, 0.7);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#firstimg {
    background-image: url('images/Парк_Жилибера_1.jpg');
    background-size: cover;
    border-radius: 25px;
    min-width: 45%;
    height: 350px;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.first {
    flex-basis: auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}
#firstblock {
    margin-bottom: 0.5%;
    margin-left: 3%;
    margin-right: 3%;
    width: 45%;
    height: 350px;
    text-align: justify !important;
    font-size: 2.5vh;
}
#firstblock>h2 {
    text-align: center;
}
.second {
    background-color: rgb(255, 255, 255);
    max-width: 50%;
    min-width: 40%;
    min-height: 350px;
    flex-basis: 40%;
    align-self: center;
    border-radius: 50px;
    align-items: center;
}
#secondslab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
#wifi_text {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-size: 6vh;
    display		: table;
}
#spanan {
    display		: table-cell;
    vertical-align	: middle;
    
}
#wifi_img {
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    align-items: center;
    max-height: 300px !important;
    display		: table-cell;
    vertical-align	: middle;
}
#secondimg {
    background-image: url('images/wifi\ \(1\).png');
    max-width: 450px;
    min-height: 300px;
    padding-bottom: 11px;
    margin-top: 25px;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
}
@media(max-width: 540px){
    #menu{
        display: block;
    }
    #logo {
        display: none;  /*можно просто убрать, когда маленький экран*/
    }
    #wifi {
        margin-left: 0%;
    }
    #petition {
        margin-right: 0%;
    }
}
@media(max-width: 1004px) {
    #hiddentext1 {
        display: none;
    }
}
@media(max-width: 877px) {
    #hiddentext2 {
        display: none;
    }
}
@media(max-width: 757px) {
    #hiddentext3 {
        display: none;
    }
}
@media(max-width: 707px) {
    #hiddentext4 {
        display: none;
    }
    .second {
        min-height: 300px;
    }
}
@media(max-width: 575px) {
    #hiddentext5 {
        display: none;
    }
}
@media(max-width: 449px) {
    #hiddentext6 {
        display: none;
    }
    #firstimg {
        height: 270px;
    }
    #firstslab {
        height: 320px;
    }
}